appscript==1.2.5
docx==0.2.4
docx2pdf==0.1.8
fire==0.6.0
fonttools==4.51.0
lxml==5.2.1
numpy==1.26.4
opencv-python-headless==4.9.0.80
pdf2docx==0.5.8
pillow==10.3.0
PyMuPDF==1.24.2
PyMuPDFb==1.24.1
python-docx==1.1.2
six==1.16.0
termcolor==2.4.0
tqdm==4.66.4
typing_extensions==4.11.0
beautifulsoup4==4.12.3
cffi==1.16.0
charset-normalizer==3.3.2
cryptography==42.0.5
pdfminer.six==20231228
pycparser==2.22
soupsieve==2.5
